.home {
  color: black;
}

.hero_section {
  width: 100%;
  height: 350px;
  background-image: url("https://media.istockphoto.com/id/1257575119/photo/luxury-community-centre-3d-illustration.webp?b=1&s=170667a&w=0&k=20&c=5xv9TL_GecQVesC1oUgmBVcDLRXAe-o5v0EspvWPcjI=");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
